<html>

<head>
  <title>Embark</title>

  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://deveducateinc.azurewebsites.net/templates/assets/hco_fonts/hco_fonts.css" rel="stylesheet" type="text/css" />
  <link href="https://localhost/PasswordReset.css" rel="stylesheet" type="text/css" />

  <style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap');


    #verifyEmailOrPhoneControl_but_send_code,
    #verifyEmailOrPhoneControl_success_message,
    #verificationSuccessText,
    #verificationCode_label,
    #verifyEmailOrPhoneControl_but_change_claims,
    #verifyEmailOrPhoneControl_error_message,
    #continue {
      display: none !important;
    }

    .TextBox VerificationCode {
      display: inline !important;
    }

    #loadingSpinner {
      animation: loadingSpinner 1s linear infinite;
      align-self: center;
      background: linear-gradient(#FFFFFF, #FFFFFF),
        conic-gradient(from 0.15turn, #FFFFFF, #594FF0);
      background-clip: content-box, border-box;
      background-origin: border-box;
      border: 0.75rem solid transparent;
      border-radius: 50%;
      display: none;
      height: 4rem;
      width: 4rem;
      margin: 2rem 12rem;
    }

    @keyframes loadingSpinner {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }
    
    #backButton {
      margin: 2rem 0 4.875rem;
      background-color: #594FF0;
      color: white;
    }
    
    #cancel {
      display: none;
    }
  </style>
</head>

<body>
  <div id="errorBanner" role="alert">
    <div style="display: flex; ">
      <span class="material-icons">error</span>
      <div id="serverErrorMessage"></div>
    </div>
    <div id="serverErrorBookAppointment"></div>
  </div>
  <div class="container">
    <div class="content">
      <button id="backButton" class="iconButton" onclick="goBack()">
        <span class="material-icons">arrow_back</span>
      </button>
      <div class="pageTitle">
        Forgot Password
      </div>
      <h1 id="headline">
        Let's verify your email
      </h1>
      <div class="textInfo">
        We've sent a 6-digit security code to: <b>{email/phoneNo}</b>
      </div>
      <div id="api" data-name="SelfAsserted" role="main"></div>
    </div>
    <div class="needHelp">
      <b>Need more help? </b><a href="https://deveducateinc.azurewebsites.net/book-appointment/details"
        style="text-decoration: none;">Book an appointment</a>
    </div>
  </div>
  <div id='loadingSpinner' role="progressbar"></div>

  <!-- <div class="container">
    <div class="error-banner" style="display: none;">
      <span class="material-icons">remove_circle_outline</span>
      <p>Please register to proceed.</p>
    </div>
    <div class="success-banner" style="display: none;">
      <span class="material-icons">task_alt</span>
      <p>Please register to proceed.</p>
    </div>
    <div class="header">
      <div class="header__img-container">
        <a id="company-logo-link" href="<%= __BASEURL__ %>" class="header__img">
          <h1 class="home__logo" alt="Home">Embark</h1>
        </a>
        <div>
          <img class="lock-icon" src="<%= __BASEURL__ %>/templates/assets/icons/lock.svg" alt="Lock">
        </div>
      </div>
    </div>
    <div class="content">
      <div class="pageTitle">
        Forgot Password
      </div>
      <div class="textHeader" id="textHeader">
        Let's verify your email
      </div>
      <div class="textInfo">
        We have sent a code to {email/phoneNo}.
      </div>
      <div id="successAlert" class="successAlert">
        <span class="material-icons">task_alt</span>
        <div id="successAlertMessage"></div>
      </div>
      <div id="api" data-name="SelfAsserted" role="main"></div>
      <div class="signInLink">
        <b>Need more help? </b><a href="<%= __BASEURL__ %>/book-appointment/details">Contact us</a>
      </div>
    </div>
    <div id='loadingSpinner' role="progressbar"></div>
  </div> -->


  <script>
    function goBack() {
  history.back();
}

function maskEmail(str) {
  const indexOfAt = str.indexOf('@');
  if (indexOfAt <= 2) {
    return str;
  }
  return str[0] + '*'.repeat(indexOfAt - 2) + str.substring(indexOfAt - 1);
}

//show email or sms
const header = document.getElementsByClassName('textInfo')[0];
if (document.getElementById('readOnlyMfaType').value === 'email') {
  const lblEmail = document.getElementById('readOnlyEmail').value;
  header.innerHTML = header.innerHTML.replace('{email/phoneNo}', maskEmail(lblEmail))
}
else {
  const lblPhone = document.getElementById('readOnlyPhone').value;
  header.innerHTML = header.innerHTML.replace('{email/phoneNo}', lblPhone)
}


//Verification code input
const verificationCodeInput = document.getElementById('verificationCode');
verificationCodeInput.setAttribute('placeholder', " ");

const verificationCodeLabel = document.createElement('span');
verificationCodeLabel.setAttribute('id', 'verificationCodeLabel');
verificationCodeLabel.innerHTML = 'Security Code';
verificationCodeInput.insertAdjacentElement('afterend', verificationCodeLabel);


const successAlert = document.getElementById('successAlert');
const successAlertMessage = document.getElementById('successAlertMessage');

//automate "send code" button click with JS
let isClickDone = "false";
const sendCodeObserver = new MutationObserver(function (e) {
  if (isClickDone === "false") {
    document.getElementById('verifyEmailOrPhoneControl_but_send_code').click();
  }
  isClickDone = "true";
});
sendCodeObserver.observe(document, { childList: true, subtree: true });

// Detect validation success, then automate continue button click with JS
const successText = document.getElementById('verifyEmailOrPhoneControl_success_message');
const continueButton = document.getElementById('continue');

const successObserver = new MutationObserver(function (e) {
  if (e[0].target.innerHTML === 'The code has been verified. You can now continue.') {
    continueButton.click();
  }
});
successObserver.observe(successText, { attributes: true });

// Error states - Invalid/Missing code
const TextBoxVerificationCode = document.getElementsByClassName('TextBox')[0];

// Insert email input error message
const codeError = document.createElement('div');
codeError.setAttribute('id', 'codeError');
TextBoxVerificationCode.insertAdjacentElement('afterend', codeError);

// Handle code input error state
const defaultCodeError = document.getElementsByClassName('error itemLevel')[4];
const verificationCodeError = document.getElementById('verifyEmailOrPhoneControl_error_message');

const codeObserver = new MutationObserver(function (e) {
  if (e[0].target.innerHTML !== '') {
    verificationCodeInput.style.border = '2px solid #FA4F00';
    verificationCodeInput.style.margin = '0';
    verificationCodeLabel.setAttribute('id', 'codeLabel--error');
    codeError.innerHTML = defaultCodeError.innerHTML ? defaultCodeError.innerHTML : verificationCodeError.innerHTML;
    codeError.setAttribute('class', 'inputError inputError--visible');
  } else {
    verificationCodeInput.style.border = '';
    verificationCodeInput.style.margin = '';
    verificationCodeLabel.setAttribute('id', 'codeLabel');
    codeError.innerHTML = '';
    codeError.setAttribute('class', 'inputError');
  }
});

codeObserver.observe(defaultCodeError, { childList: true });
codeObserver.observe(verificationCodeError, { childList: true });


// Handle loading state
const mainContainer = document.getElementsByClassName('container')[0];
const loadingSpinner = document.getElementById('loadingSpinner');
const verifyButton = document.getElementById('verifyEmailOrPhoneControl_but_verify_code');

const loadingObserver = new MutationObserver(function (mutations) {
  mutations.forEach(function (mutation) {
    if (mutation.target.style.display !== 'none') {
      mainContainer.style.display = 'block';
      loadingSpinner.style.display = 'none';
    } else if (mutation.target.style.display === 'none') {
      mainContainer.style.display = 'none';
      loadingSpinner.style.display = 'inline-block';
    }
  });
});
loadingObserver.observe(verifyButton, { attributes: true });
  </script>
</body>

</html>
