

    ::-ms-reveal {
      display: none;
    }

    input::-webkit-credentials-auto-fill-button {
      visibility: hidden;
      display: none !important;
      pointer-events: none;
      position: absolute;
      right: 0;
    }

    *, *::after, *::before {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

    body, html {
      height: 100%;
    }

    body {
      align-items: center;
      background-color: gray;
      color: #404040;
      display: flex;
      font-family: 'Motiva Sans', 'Roboto', sans-serif;
      justify-content: center;
      height: 100%;
    }

    input, button {
      font-family: 'Motiva Sans', 'Roboto', sans-serif;
    }

    .container {
      background-color: #FFFFFF;
      margin: 1.5rem 0;
      max-width: 26rem;
      width: 100%;
      overflow-y: auto;
    }

    .header {
      background-color: #1c1463;
      clip-path: polygon(0 0, 100% 0, 100% 65%, 0 100%);
      height: 6.5rem;
      width: 100%;
    }

    .header__img-container {
      align-items: center;
      display: flex;
      height: 65%;
      justify-content: space-between;
      padding: 1rem;
      width: 100%;
      text-decoration: none;
    }

    .company-logo {
      height: 3.5rem;
      margin-top: 1.25rem;
      margin-left: 5rem;
      width: 12.6rem;
    }

    .lock-icon {
      height: 1.25rem;
      width: 1.25rem;
    }

    .content {
      margin: 2rem 1.5rem;
    }

    .title {
      margin-bottom: 1rem;
      max-width: 20rem;
      width: 100%;
    }

    .home__logo {
      text-decoration: none;
      height: 3rem;
      color: #fff;
      font-family: Motiva Sans,Raleway,-apple-system,BlinkMacSystemFont,Roboto,Segoe UI,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
      font-size: 2.25rem;
      font-weight: 700;
      /* letter-spacing: -.03em; */
      line-height: 2.5rem;
      font-size: 1.75rem;
    }

    .pageTitle {
      width: 366px;
      height: 20px;

      font-family: 'Gotham';
      font-style: normal;
      font-weight: 550;
      font-size: 12px;
      line-height: 20px;

      /* identical to box height, or 143% */
      display: flex;
      align-items: center;
      text-transform: uppercase;

      /* Interim/sys/light/on-surface */
      color: #191C1D;
    }

    .textHeader {
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
      color: #1c1463;
      margin-bottom: 1rem;
      font-family: Motiva Sans,Roboto,-apple-system,BlinkMacSystemFont,Raleway,Segoe UI,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
      font-size: 1.5rem;
      font-weight: 900;
      letter-spacing: -.01em;
      line-height: 2rem;
    }

    .textInfo {
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5rem;
      color: #000;
      font-family: Motiva Sans,Roboto,-apple-system,BlinkMacSystemFont,Raleway,Segoe UI,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
      letter-spacing: unset;
      padding-bottom: 8px;
    }

    h1 {
      position: relative;
      font-size: 1.5rem;
      line-height: 2rem;
      z-index: 1;
    }

    h2, label, .intro, .helpLink {
      display: none;
    }

    .attr {
      display: flex;
      flex-direction: column;
      margin-bottom: 1.5rem;
    }

    ul {
      list-style-type: none;
    }

    li {
      margin: 0.5rem 0;
    }

    .EmailBox, .Password {
      margin-bottom: 1rem;
    }

    .attrEntry {
      position: relative;
      margin-bottom: 1rem;
    }


    .attrEntry {
      position: relative;
    }

    .attrEntry > input:not([type="checkbox"]) {
      background-color: #FFFFFF;
      border: 1px solid rgba(28, 20, 99, 0.25);
      border-radius: 0.5rem;
      color: #1C1463;
      font-size: 1rem;
      font-weight: 500;
      margin: 1px;
      outline: none;
      padding: 1.2rem 3.25rem 1.2rem 1rem;
      transition: 0.1s ease-out;
      width: 100%;
    }

    .attrEntry > span {
      position: absolute;
      top: calc(100% - 1.9rem);
      left: 0;
      font-size: 1rem;
      font-weight: 700;
      line-height: 1.5rem;
      transform: translateY(-50%);
      background-color: white;
      color: #594FF0;
      padding: 0 0.5rem;
      margin: 0 0.5rem;
      transition: 0.1s ease-out;
      transform-origin: left top;
      pointer-events: none;
      z-index: 1;
    }

    .attrEntry > input:focus {
      border: 2px solid #594FF0;
      margin: 0;
      padding-left: 1rem;
    }

    .attrEntry > input:focus + span,
    .attrEntry > input:not(:placeholder-shown) + span {
      font-size: 0.875rem;
      letter-spacing: 0.005em;
      top: calc(100% - 3.85rem);
      transform: translateY(-50%) !important;
    }

    .attrEntry > input:not(:focus)::placeholder {
      opacity: 0;
    }

    .attrEntry > #new-password-field-label:not(:focus) {
      transform: translateY(-50%);
    }

    #clearEmail,
    #clearPhone {
      cursor: pointer;
      pointer-events: all;
      position: absolute;
      vertical-align: auto;
      top: calc(100% - 1.65rem);
      right: 0;
      left: 19.5rem;
      width: 2rem;
      height: 2rem;
      font-size: 1.5rem;
      color: #016489;
      background-color: transparent;
      user-select: none;
    }

    #clearEmail--error,
    #clearPhone--error {
      cursor: pointer;
      pointer-events: all;
      position: absolute;
      vertical-align: auto;
      top: calc(100% - 1.65rem);
      right: 0;
      left: 19.5rem;
      width: 2rem;
      height: 2rem;
      font-size: 1.5rem;
      color: #BA1B1B;
      background-color: transparent;
      user-select: none;
    }

    #emailLabel--error,
    #passwordLabel--error {
      color: #BA1B1B;
    }

    #signUpAgreement,
    #passwordRequirement {
      font-size: 0.75rem;
      line-height: 1rem;
      margin: 1.5rem 0;
      font-weight: 300;
    }

    #passwordRequirement {
      margin-top: -0.5rem;
      font-size: 0.875rem;
      line-height: 1.25rem;
    }

    #signUpAgreement > a {
      color: #016489;
      font-weight: 500;
      line-height: 1rem;
      text-decoration: none;
    }

    input[type="checkbox"] {
      accent-color: #016489;
      cursor: pointer;
      height: 1.125rem;
      margin-right: 1.125rem;
      width: 1.125rem;
    }

    input[type="checkbox"] + label{
      cursor: pointer;
      display: block;
      font-size: 0.75rem;
      margin-top: -1.25rem;
      margin-left: 2.25rem;
      line-height: 1rem;
    }

    .buttons {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    button {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-family: 'Motiva Sans', 'Montserrat', sans-serif;
      border: none;
      border-radius: 2rem;
      cursor: pointer;
      font-size: 1.125rem;
      font-weight: 900;
      height: 3.5rem;
      letter-spacing: normal;
      line-height: 1.25rem;
      max-width: 15rem;
      outline: none;
      text-transform: none;
      width: 100%;
      background: #594FF0;
      color: #FFFFFF;
      margin-bottom: 0.5rem;
    }

    #continue {
      background-color: #594FF0;
    }

    #continue:hover {
      background: linear-gradient(0deg, rgba(78, 67, 229, 0.5), rgba(78, 67, 229, 0.5)), #1C1463;
    }

    #continue:focus {
      background: linear-gradient(0deg, rgba(78, 67, 229, 0.3), rgba(78, 67, 229, 0.3)), #1C1463;
      border: 3px solid #C3C0FF;
      border-radius: 100px;
      padding: 0 1.5rem;
    }

  #continue:active {
    background: linear-gradient(0deg, rgba(78, 67, 229, 0.5), rgba(78, 67, 229, 0.5)), #1C1463;
    border: none;
    outline: none;
  }

  #cancel {
    background-color: transparent;
    color: #594FF0;
  }

  #cancel:hover {
    background: #FFFFFF;
    border: 1px solid #594FF0;
  }

  #cancel:focus {
    background: #FFFFFF;
    border: 1px solid #594FF0;
    border-radius: 32px;
  }

  #cancel:active {
    background: #FFFFFF;
    border: 1px solid #594FF0;
    border-radius: 32px;
  }

    #true_option {
      margin-top: -1.5rem;
      font-weight: 300;
    }

    .error > p {
      overflow-wrap: break-word;
    }

    .error.itemLevel {
      margin-bottom: 0.5rem;
      color: #BA1B1B;
      line-height: 1;
      font-size: 0.875rem;
      font-weight: 300;
    }

    .error.pageLevel {
      color: #BA1B1B;
      font-size: 1rem;
      line-height: 1.5;
      margin: 0.5rem 0;
    }

    .border {
      margin: auto;
      width: 100%;
      margin-top: 2.25rem;
      outline: none;
      height: 1px;
      border: 0;
      border-top: 1px solid;
      border-color: #D8D8D8;
    }

    #signInLink {
      margin-top: 1.25rem;
      text-align: start;
      font-size: 0.875rem;
      line-height: 1rem;
    }

    #signInLink > a {
      text-decoration: none;
      color: #016489;
    }

    .error-banner {
      display: flex;
      align-items: center;
      padding: 1.125rem 0.875rem;
      font-size: 0.875rem;
      line-height: 1.25rem;
    }

    .error-banner > .material-icons {
      margin-right: 0.625rem;
      color: #BA1B1B;
    }

    #simplemodal-overlay {
      background: transparent !important;
    }

    .simplemodal-container {
      display: none !important;
    }

    .loading-spinner {
      display: inline-block;
      height: 1rem;
      position: relative;
      width: 1rem;
    }

    .loading-spinner div {
      animation: loading-spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
      border: 1.5px solid #016489;
      border-radius: 50%;
      border-color: #016489 transparent transparent transparent;
      box-sizing: border-box;
      display: block;
      height: 1rem;
      margin: 0 auto;
      position: absolute;
      width: 1rem;
    }

    .loading-spinner div:nth-child(1) {
      animation-delay: -0.45s;
    }
    .loading-spinner div:nth-child(2) {
      animation-delay: -0.375s;
    }
    .loading-spinner div:nth-child(3) {
      animation-delay: -0.30s;
    }
    .loading-spinner div:nth-child(4) {
      animation-delay: -0.225s;
    }
    .loading-spinner div:nth-child(5) {
      animation-delay: -0.15s;
    }
    .loading-spinner div:nth-child(6) {
      animation-delay: -0.075s;
    }

    @keyframes loading-spinner {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }

    @media (max-width: 26em) {
      .container {
        height: 100%;
        margin: 0 auto;
      }

      .company-logo {
        margin-left: calc(50% - 7.5rem);
      }

      #clearEmail,
      #clearPhone,
      #clearEmail--error,
      #clearPhone--error {
        left: calc(100% - 3.5rem);
      }
    }
