<html>
    <head>
      <title>Knowledge First Financial</title>
    
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link href="https://deveducateinc.azurewebsites.net/templates/assets/hco_fonts/hco_fonts.css" rel="stylesheet" type="text/css" />
      <link href="https://localhost/PasswordResetStyle.css" rel="stylesheet" type="text/css" />

      <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

        .attrEntry {
          display: none;
        }

        .muiradio {
          -webkit-font-smoothing: antialiased;
          -webkit-tap-highlight-color: transparent;
          user-select: none;
          cursor: inherit;
          position: absolute;
          opacity: 0;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          margin: 0;
          padding: 0;
          z-index: 1;
        }
      </style>
    
    </head>

  <body>
    <div class="container">
      <div class="error-banner" style="display: none;">
        <span class="material-icons">remove_circle_outline</span>
        <p>Please register to proceed.</p>
      </div>
      <div class="header">
          <div class="header__img-container">
              <a id="company-logo-link" href="https://deveducateinc.azurewebsites.net" class="header__img" >
                  <h1 class="home__logo" alt="Home">Embark</h1>
              </a>
              <div>
              <img
                  class="lock-icon"
                  src="https://deveducateinc.azurewebsites.net/templates/assets/icons/lock.svg"
                  alt="Lock">
              </div>
          </div>
      </div>
      <div class="content">
        <div class="pageTitle">
          Forgot Password
        </div>
        <div id="div-step2">
          <div class="textHeader">
            How would you like to verify your identity?
          </div>
          <div class="textInfo">
            We will send you a verification code.
          </div>
          <div class="radio-toolbar">
            <input type="radio" id="radioPhone" name="radioVerificationType" value="phone" onchange="setVerificationType(this)">
            <label for="radioPhone">
              <span>Text</span>
              <span>
                <input class="PrivateSwitchBase-input css-1m9pwf3" name="onboarding-co-applicant" type="radio" aria-label="Individual - Me" aria-describedby="VcsYE581tk_" value="me">
              </span>
            </label>
            <div class="height8"></div>
            <input type="radio" id="radioCall" name="radioVerificationType" value="phone" onchange="setVerificationType(this)">
            <label for="radioCall">Call</label>
            <div class="height8"></div>
            <input type="radio" id="radioEmail" name="radioVerificationType" value="email" onchange="setVerificationType(this)">
            <label for="radioEmail">Email</label>
          </div>
        </div>
        <div id="api" data-name="SelfAsserted" role="main"></div>
      </div>

    <script>

      function setVerificationType(el) {
        console.log(el.value);
        if(el.value === 'phone') {
          console.log('check phone')
          document.getElementById('extension_mfaByPhoneOrEmail_phone').checked = true;
        }else if(el.value === 'email') {
          console.log('check email')
          document.getElementById('extension_mfaByPhoneOrEmail_email').checked = true;
        }
      }

      // border
      let border = document.createElement('hr');
      let borderClassName = 'border';
      border.setAttribute('class', borderClassName);

      let buttons = document.getElementsByClassName('buttons')[1];
      buttons.insertAdjacentElement('afterend', border);

      // Insert link to login
      const signInLink = document.createElement('div');
      signInLink.setAttribute('id', 'signInLink');
      signInLink.innerHTML = `<b>Need more help? </b><a href="<%= __BASEURL__/book-appointment/details %>/signin">Contact us</a>`;
      border.insertAdjacentElement('afterend', signInLink);

      

      // const emailInput = document.getElementById('email');
      // const phoneInput = document.getElementById('inputPhoneNumber');
      // const countryCodeInput = document.getElementById('inputCountryCode');

      // const cancelButton = document.getElementById('cancel');
      // cancelButton.onclick = function() {
      //   history.back();
      // }

      // //hide country code
      // countryCodeInput.style.display = 'none';

      // // Insert custom input field labels
      // const emailLabel = document.createElement('span');
      // emailLabel.setAttribute('id', 'emailLabel');
      // const phoneLabel = document.createElement('span');
      // phoneLabel.setAttribute('id', 'phoneLabel');

      // //Insert email title
      // const emailTitle = document.createElement('div');
      // const emailTitleClassName = 'textHeader';
      // const emailTitleId = 'emailTitle';
      // emailTitle.setAttribute('class', emailTitleClassName);
      // emailTitle.setAttribute('id', emailTitleId);
      // emailTitle.innerHTML = `What's your registered email?`;
      // emailInput.insertAdjacentElement('beforebegin', emailTitle);

      // // Insert email clear
      // const clearEmail = document.createElement('span');
      // const emailClassName = 'material-icons';
      // const emailId = 'clearEmail';
      // clearEmail.setAttribute('class', emailClassName);
      // clearEmail.setAttribute('id', emailId);
      // clearEmail.innerHTML = 'clear';

      // clearEmail.addEventListener('click', function() {
      //   emailInput.value = '';
      // });

      // emailInput.insertAdjacentElement('afterend', clearEmail);


      // //Insert phone title
      // const phoneTitle = document.createElement('div');
      // const phoneTitleClassName = 'textHeader';
      // const phoneTitleId = 'emailTitle';
      // phoneTitle.setAttribute('class', phoneTitleClassName);
      // phoneTitle.setAttribute('id', phoneTitleId);
      // phoneTitle.innerHTML = `What’s your registered phone number?`;
      // phoneInput.insertAdjacentElement('beforebegin', phoneTitle);


      // // Insert phone clear
      // const clearPhone = document.createElement('span');
      // const phoneClassName = 'material-icons';
      // const phoneId = 'clearPhone';
      // clearPhone.setAttribute('class', phoneClassName);
      // clearPhone.setAttribute('id', phoneId);
      // clearPhone.innerHTML = 'clear';

      // clearPhone.addEventListener('click', function() {
      //   phoneInput.value = '';
      // });

      // phoneInput.insertAdjacentElement('afterend', clearPhone);

      // // Error states - Email
      // const emailError = document.getElementsByClassName('error itemLevel')[0];
      // let isEmailError = false;

      // const emailObserver = new MutationObserver(function(e) {
      //   if (e[0].target.innerHTML !== '') {
      //     clearEmail.innerHTML = 'error';
      //     clearEmail.setAttribute('id', 'clearEmail--error');
      //     emailInput.style.border = '2px solid #BA1B1B';
      //     emailInput.style.background = 'white';
      //     emailInput.style.outline = 'none';
      //     emailLabel.setAttribute('id', 'emailLabel--error');
      //     isEmailError = true;
      //   } else {
      //     clearEmail.innerHTML = 'clear';
      //     clearEmail.setAttribute('id', 'clearEmail');
      //     emailInput.style.border = '';
      //     emailInput.style.background = '';
      //     emailInput.style.outline = '';
      //     emailLabel.setAttribute('id', 'emailLabel');
      //     isEmailError = false;
      //   }
      //   if (isEmailError || isPasswordError) {
      //     errorBanner.style.display = 'flex';
      //     errorBanner.childNodes[3].innerHTML = 'Incorrect or missing email/password'
      //   }
      //   else if (isPageLevelError) {
      //     errorBanner.style.display = 'flex';
      //   }
      //   else if (!isPageLevelError && !isEmailError && !isPasswordError) errorBanner.style.display = 'none';
      // });

      // emailObserver.observe(emailError, { childList: true });

      // // Error states - Password
      // const passwordError = document.getElementsByClassName('error itemLevel')[1];
      // let isPasswordError = false;

      // const passwordObserver = new MutationObserver(function(e) {
      //   if (e[0].target.innerHTML !== '') {
      //     toggleNewPassword.innerHTML = 'error';
      //     toggleNewPassword.setAttribute('id', 'toggleNewPassword--error');
      //     phoneInput.style.border = '2px solid #BA1B1B';
      //     phoneInput.style.background = 'white';
      //     phoneInput.style.outline = 'none';
      //     phoneLabel.setAttribute('id', 'phoneLabel--error');
      //     isPasswordError = true;
      //   } else {
      //     const type = phoneInput.getAttribute("type") === "password" ? "password" : "text";
      //     if (type === 'text') toggleNewPassword.innerHTML = 'visibility_off';
      //     else if (type === 'password') toggleNewPassword.innerHTML = 'visibility';
      //     toggleNewPassword.setAttribute('id', 'toggleNewPassword');
      //     phoneInput.style.border = '';
      //     phoneInput.style.background = '';
      //     phoneInput.style.outline = '';
      //     phoneLabel.setAttribute('id', 'phoneLabel');
      //     isPasswordError = false;
      //   }
      //   if (isEmailError || isPasswordError) {
      //     errorBanner.style.display = 'flex';
      //     errorBanner.childNodes[3].innerHTML = 'Incorrect or missing email/password';
      //   }
      //   else if (isPageLevelError) {
      //     errorBanner.style.display = 'flex';
      //   }
      //   else if (!isPageLevelError && !isEmailError && !isPasswordError) errorBanner.style.display = 'none';
      // });

      // passwordObserver.observe(passwordError, { childList: true });

      // // Show error banner
      // const errorBanner = document.getElementsByClassName('error-banner')[0];
      // const pageLevelErrors = document.getElementsByClassName('pageLevel');
      // let isPageLevelError = false;

      // for (let i = 0; i < pageLevelErrors.length; i++) {
      //   const pageLevelObserver = new MutationObserver(function(e) {
      //     if (e[0].target.style.display !== 'none') isPageLevelError = true;
      //     else isPageLevelError = false;

      //     if (isPageLevelError) {
      //       errorBanner.childNodes[3].innerHTML = e[0].target.innerHTML;
      //       e[0].target.style.position = 'absolute';
      //       e[0].target.style.top = '-9999px';
      //       e[0].target.style.left = '-9999px';
      //       errorBanner.style.display = 'flex';
      //     }
      //     else if (!isPageLevelError && !isEmailError && !isPasswordError) errorBanner.style.display = 'none';
      //   });
      //   pageLevelObserver.observe(pageLevelErrors[i], { attributes: true, childList: true, subtree: true });
      // }

      // // Remove placeholders
      // emailInput.setAttribute('placeholder', " ");
      // phoneInput.setAttribute('placeholder', " ");

      // emailLabel.innerHTML = 'Email';
      // phoneLabel.innerHTML = 'Phone number';

      // emailInput.insertAdjacentElement('afterend', emailLabel);
      // phoneInput.insertAdjacentElement('afterend', phoneLabel);

      // // border
      // let border = document.createElement('hr');
      // let borderClassName = 'border';
      // border.setAttribute('class', borderClassName);

      // let buttons = document.getElementsByClassName('buttons')[1];
      // buttons.insertAdjacentElement('afterend', border);

      // // Insert link to login
      // const signInLink = document.createElement('div');
      // signInLink.setAttribute('id', 'signInLink');
      // signInLink.innerHTML = `<b>Need more help? </b><a href="<%= __BASEURL__/book-appointment/details %>/signin">Contact us</a>`;
      // border.insertAdjacentElement('afterend', signInLink);

      // // Continue button loading state
      // const continueButton = document.getElementById('continue');
      // const continueButtonText = continueButton.innerText;
      // const loadingObserver = new MutationObserver(function(e) {
      //   if (e[0].target.id === 'verifying_blurb') {
      //     continueButton.innerHTML = `
      //       <div class="loading-spinner" role="progressbar">
      //         <div></div>
      //         <div></div>
      //         <div></div>
      //         <div></div>
      //         <div></div>
      //         <div></div>
      //       </div>
      //     `;
      //   } else if (e[0].target.id === 'continue') {
      //     // Do nothing
      //   } else {
      //     continueButton.innerHTML = continueButtonText;
      //   }
      // });
      // loadingObserver.observe(document, {childList: true, subtree: true});



      // //Formart phone
      // const isNumericInput = (event) => {
      // const key = event.keyCode;
      // return ((key >= 48 && key <= 57) || // Allow number line
      //         (key >= 96 && key <= 105) // Allow number pad
      //     );
      // };

      // const isModifierKey = (event) => {
      //     const key = event.keyCode;
      //     return (event.shiftKey === true || key === 35 || key === 36) || // Allow Shift, Home, End
      //         (key === 8 || key === 9 || key === 13 || key === 46) || // Allow Backspace, Tab, Enter, Delete
      //         (key > 36 && key < 41) || // Allow left, up, right, down
      //         (
      //             // Allow Ctrl/Command + A,C,V,X,Z
      //             (event.ctrlKey === true || event.metaKey === true) &&
      //             (key === 65 || key === 67 || key === 86 || key === 88 || key === 90)
      //         )
      // };

      // const enforceFormat = (event) => {
      //     // Input must be of a valid number format or a modifier key, and not longer than ten digits
      //     if(!isNumericInput(event) && !isModifierKey(event)){
      //         event.preventDefault();
      //     }
      // };

      // const formatToPhone = (event) => {
      //     if(isModifierKey(event)) {return;}

      //     const input = event.target.value.replace(/\D/g,'').substring(0,10); // First ten digits of input only
      //     const areaCode = input.substring(0,3);
      //     const middle = input.substring(3,6);
      //     const last = input.substring(6,10);

      //     if(input.length > 6){event.target.value = `(${areaCode}) ${middle}-${last}`;}
      //     else if(input.length > 3){event.target.value = `(${areaCode}) ${middle}`;}
      //     else if(input.length > 0){event.target.value = `(${areaCode}`;}
      // };

      // phoneInput.addEventListener('keydown',enforceFormat);
      // phoneInput.addEventListener('keyup',formatToPhone);



    </script>
  </body>
</html>
