.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 5px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.ui.table {
  width: 100%;
}

.ui.fixed.table td {
  padding: 0%;
}

.ui.sortable.table thead th {
  padding: 0.1%;
}

.ui.fixed.table tr:nth-child(even) {
  background-color: #DDDBDB
}

.ui.icon.button {
  padding: 3%;
}

.Icon {
  padding: 0px;
  height: 0px;
  width: 1px;
}

div.red {
  color: red;
  font-style: "bold"
}

div.green {
  color:green;
}